/* Global CSS Variables: https://www.w3schools.com/css/css3_variables.asp */
/* Reference these in your CSS to get the same color as the mockups */
:root {
    --sidebar-width: 240px;
    --text-color: rgb(50, 50, 50);
    --background-color: #ffffff;
    --light-background-color: #f4f4f4;
    --nav-bar-color: #ffffff;
    --selected-color: rgb(229, 241, 253);
    --action-text-color: #ffffff;
    --action-color: rgb(58, 99, 197);
    --border-color: darkgray;
}

body {
 	background-color: var(--background-color);
  color: var(--text-color); 
}

button, input[type=submit]  {
    cursor: pointer;
}

textarea:focus, input:focus {
    outline: none;
}



/* Global */

html {
  height: 100%;
  overflow: hidden;

}

body, ul, #root, #root>div {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--text-color);
}

/* LogIn Page */

#LogIn-page {
  background-color: lightgray;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

.LogIn-form {
  background-color: #f4f4f4;
  width: 35%;
  margin: 30px auto 10% auto;
  border: 1px solid var(--border-color);
  border-radius: 15px;
}

#LogIn-page .header h1,h4{
  display: flex;
  justify-content: center;
  margin: 0;
}

#LogIn-page .container {
  padding: 10px 10px 25px 10px;
}

#LogIn-page .container input {
  width: 100%;
  box-sizing: border-box;
}

#LogIn-page .container span {
  font-weight: 500;
  color: red;
}

#LogIn-page .container .LogIn {
  background-color: var(--action-color);
  border-radius: 10px;
  color: var(--action-text-color);
  height: 30px;
  width: 100%;
  font-size: 12px;
  border: none;
  margin-top: 10px;
}

#LogIn-page hr {
  margin: 20px 0px;
}

#LogIn-page .createAcc {
  background-color: green;
  border-radius: 10px;
  color: var(--action-text-color);
  height: 30px;
  width: 35%;
  border: none;
  font-size: 12px;
  position: relative;
  margin-left: 33%;
  margin-right: 33%;
}

/* SignUp Page */

#SignUp-page {
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

.Signup-sheet {  
  background-color: #f4f4f4;
  width: 35%;
  margin: 50px auto 10% auto;
  border: 1px solid var(--border-color);
  border-radius: 15px;
}

#SignUp-page .container {
  padding: 15px;
}

.sign-header {
  display: flex;
  justify-content: space-between; 
}

.sign-header h3 {
  margin-top: 0;
}

.sign-header span {
  font-size: 20px;
  cursor: pointer;
}

#SignUp-page input {
  width: 100%;
}

#SignUp-page #submit-signUp {
  background-color: rgb(23, 175, 23);
  border-radius: 10px;
  color: var(--action-text-color);
  height: 30px;
  width: 35%;
  border: none;
  font-size: 12px;
  position: relative;
  margin: 20px 33% 5px 33%;
}

/* Sidebar */

.sidebar {
  width: var(--sidebar-width);
  border: var(--border-color) 1px solid;
  float: left;
  height: 100%;

}

.index-sidebar-header {
  border-bottom: var(--border-color) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 2px;
}

.sidebar .img {
  cursor: pointer;
}

.sidebar .index-sidebar-header .material-icons {
  padding-right: 5px;
}

.search {
  border-bottom: var(--border-color) 1px dotted;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  height: 25px;
}

.search-box {
  border: none;
}

.sidebar .search .material-icons {
  margin-right: 5px;
}

.sidebar .all-notes .note {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-bottom: var(--border-color) 1px dotted;
  cursor: pointer;
}

.sidebar .all-notes .note:focus {
  background-color: lightblue;
}

.sidebar .title{
  margin: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  font-weight: 700;
}

.sidebar .all-notes .date {
  font-size: 11px;
}

/* Main */

.main {
  height: 100%;
  border: var(--border-color) 1px solid;
  border-left: none;
  margin-left: 242px;
}

.main .actions {
  height: 39px;
  border-bottom: var(--border-color) 1px solid;
}


.actions ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.actions li:first-child {
  display: none;
}

.actions li {
  display: inline;
}

.material-icons {
  cursor: pointer;
}

.main .note-page {
  width: 100%;
  height: 100%;
}

.main .note-page textarea {
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 5px;
}

[contenteditable] {
  outline: inherit;
}

.main .tags {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: lightgray;
}

.ReactTags__tags {
  display: flex;
  position: relative;
}

.ReactTags__selected .ReactTags__tag{
  display: inline-flex;
  align-items: center;
  color: black;
  border: var(--border-color) 1px solid;
  margin: 5px;
  padding: 2px;
  font-weight: 400;
  font-size: 15px;
}

.ReactTags__remove {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border: rgb(107, 97, 97) 1px solid;
  border-radius: 25%;
  margin: 2px;
  font-size: 5px;
  padding: 0;
  height: 20px;
  width: 20px;

}

.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
  padding: 5px 3px;
}

.ReactTags__tagInputField {
  width: 120px;
  height: 20px;
}

/* Modal Window */
.modal {
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

.modal-content {
  background-color: #f4f4f4;
  width: 35%;
  margin: 10% auto 10% auto;
  border: 1px solid var(--border-color);
  border-radius: 15px;
}

.modal .container {
  padding: 15px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header h3 {
  margin-top: 0;
}

.modal-header span {
  font-size: 20px;
  cursor: pointer;
}

.profile-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.profile-box span {
  font-size: 12px;
}

.profile-add {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 12px;
}

.profile-box .profile {
  border: none;
  display: inline-block;
  cursor: pointer;
}

.modal input {
  width: 100%;
}

.modal-footer {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.modal-submit {
  background-color: var(--action-color);
  border-radius: 10px;
  color: var(--action-text-color);
  height: 30px;
  width: 60px;
  font-size: 12px;
  border: none;
}

/* These rules only apply if the window's max-width is 500px or less */
@media all and (max-width: 500px) {
  .sidebar {
    display: none;
    width: 100%;
    height: 100%;
  }

  .actions li:first-child {
    display: block;
  }

  .main {
    margin: 0;
  }

  .modal{
    padding: 0;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }

  #SignUp-page {
    padding: 0;
  }

  .Signup-sheet {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }
}